.CurrentWeatherPrimaryInfo .container-weather-primary-info {
  padding: 0;
}

.CurrentWeatherPrimaryInfo .temperature-unit,
.temperature-unit-division {
  color: #272142;
  font-size: 22px;
  position: relative;
  top: -38px;
}

.CurrentWeatherPrimaryInfo .value-temperature {
  color: #272142;
  font-size: 78px;
  font-weight: 650;
  margin: 0 5px 0 0;
}

.CurrentWeatherPrimaryInfo .weather-icon {
  height: 90px;
  position: relative;
  top: -23px;
  width: 90px;
}
