.Signature .signature {
  color: #a9a6b3;
  font-size: 12px;
}

.Signature .signature-link:hover {
  color: rgba(136, 93, 241, 0.4);
}

.Signature .signature-link {
  color: #885df1;
  text-decoration: none;
}
