.WeatherForecast {
  margin: 50px 0 0 0;
  text-align: center;
}

.WeatherForecast .day {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 5px 0;
}

.WeatherForecast .weather-forecast-icon {
  height: 70px;
  margin: 0 0 5px 0;
  width: 70px;
}

.WeatherForecast .value-temperature-forecast-max {
  color: #f65282;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}

.WeatherForecast .value-temperature-forecast-min {
  color: rgba(246, 82, 130, 0.6);
  font-size: 16px;
  font-weight: 600;
}
